h1 {
  text-align: center;
}
.product-container {
  width: 90%;
  margin: 0 auto;
  @media screen and (max-width: 700px) {
    width: unset;
  }
  .select-wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
      width: 95%;
    }
    .select {
      background: white;
      border: none;
      border-radius: 0;
      cursor: pointer;
      padding: 12px;
      width: 100%;
      font-size: 18px;
      border: 1px solid black;
      border-radius: 0.5rem;
      &:focus {
        color: black;
      }
      // Hack for IE 11+
      &::-ms-expand {
        display: none;
      }
    }
  }
  .product-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 50px;
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
      width: unset;
    }
  }
}
